<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="/people.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%-include("includes/navbar.ejs") %>
    <style>
        #c{
            color: #f00;
        }
    </style>
</head>
<body>
    <%- include("includes/same.ejs") %>
    <div class="container">
        <h2>Discover Spaces</h2>
        <p>Spaces you might like</p>
        <div class="card-container">
            <% spaces.forEach(space => { %>
                <div class="card" onclick="location.href='/post/<%=space.id%>'">
                    <div class="card-image" style="background-image: url('/uploads/<%=space.image%>');"></div>
                    <div class="card-content">
                        <h3><%= space.title %></h3>
                        <p><%= space.description %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>